## Assignment- Python basics

Time for you to test your knowledge. Take a sigh of relief! These assignemnts won't be like that of your mookIT courses and would be more of fun :)

- Create a variable called z, express it as a sum of two different variables, say x and y, and display the result.

- Remove the illegal characters in the variable name:<br />
`2my@-first_name = "XYZ"`

- Write the correct code for converting any float number, take 6.5 as an example, to an integer.

- `Text= "Albert Einstein".`<br />
Get the characters from index 2 to index 5.

- Change the value from `"apple"` to `"kiwi"`, in the fruits list.<br />
`fruits=["apple","mango","kiwi","banana"]`

In [1]:
fruits=["apple","mango","kiwi","banana"]

- Use negative indexing to print the last item in the list.
`fruits = ["apple", "banana", "cherry"]`

- Remove any one of elements from given set.<br />
`fruits = {"apple", "banana", "cherry"}`

- Change the mode from online to offline in dictionary given below.

In [4]:
project ={
  "name": "XUVI",
  "no. of mentors": 3,
  "mode": "online"
}

- Print "Equal" if a variable `A`(assign any value) is equal to another variable `B`(assign any value), "smaller" if A<B, otherwise print "None".

- Print all positive integers less than 7 except 3.(using loop method)

- Calculate sum and average of n natural numbers using for loop.

- Write a python code to print multiplication table of 3. (using for loop)

- Define a function x and let the function return the x parameter + 5.

Yess!! You completed your first step towards mastering python basics. Keep Going.